.menu .link-user {
    background-color: rgb(195, 32, 86);
    color: white;
    background-image: url(../images/account_white.svg);
}

.conteiner {
    display: flex;
    width: 100%;
}

.profile {
    display: inline-block;
    position: relative;
    width: 70%;
    box-shadow: 6px 5px 8px 1px rgb(191 191 191);
    border-radius: 3px;
    color: rgba(0,0,0, 0.87);
    background-color: rgb(245, 245, 245);
    margin-right: 30px;
    padding: 20px;
}
.title {
    background-color: rgb(195, 32, 86);
    padding: 20px;
    position: absolute;
    width: calc(100% - 40px);
    top: -25px;
    align-items: center;
    box-shadow: 6px 5px 8px 1px rgb(191 191 191);
    color: white;
}

.title h4 {
    margin-bottom: 15px;
}
.form {
    margin-top: 80px;
    border-radius: 3px;
    line-height: 1.5;
    color: rgb(112, 110, 110);
}

.foto {
    background-color: rgb(245, 245, 245);
    width: 30%;
    text-align: center;
    padding: 20px;
    box-shadow: 6px 5px 8px 1px rgb(191 191 191);
}


.foto-text p {
    margin: 20px 0;
}

.foto-img {
    max-width: 130px;
    max-height: 130px;
    margin: -50px auto 0;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 6px 5px 8px 1px rgb(191 191 191);
}

.foto-img img {
    width: 100%;
    height: 100%;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.text-field {
    display: flex;
    flex-direction: column;
}
.text-field_first {
    width: calc(1/3*100% - 10px);
}

.text-field_second {
    width: calc(1/2*100% - 10px);
}

.text-field_third {
    width: calc(100% - 10px);
}

.text-field_input:focus {
    border-color: rgb(208, 208, 208);
    outline: 0;
}

  .text-field_input {
    background-color: rgb(245, 245, 245);
    border: none;
    border-bottom: 2px solid rgb(208, 208, 208);
    padding: 10px 10px 5px 0;
  }

  .text-field_fifth {
    max-width: 100%;
  }

  .text-field textarea {
    max-width: 100%;
    min-height: 50px;
    min-width: 200px;
    font-family: inherit;
  }

  .button {
    display: flex;
    justify-content: right;
  }

  button {
    background-color: rgb(195, 32, 86);
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
  }

  @media screen and (min-width: 800px) and (max-width: 1000px) {
    .conteiner {
        flex-direction: column-reverse;
    }
    .foto {
        width: 100%;
        margin-bottom: 60px;
    }
    .profile {
        width: 100%;
    }

  }